<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='DCDL admin page') "></div>

<body>
	<h1>Welcome on DCDL admin page</h1>

	<a href="/users" th:href="@{/users}">users</a><br>
	<a href="/roles" th:href="@{/roles}">roles</a><br>
	<a href="/authorizations" th:href="@{/authorizations}">authorizations</a><br>
	<a href="/rooms" th:href="@{/rooms}">rooms</a><br>
	<a href="/leagues" th:href="@{/leagues}">leagues</a><br>
	<div th:replace="footer :: index"></div>
	
</body>
</html>