<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='register form') "></div>
<body>
	<h1>Welcome on DCDL web application</h1>	
	
	<p>Please fill the form to register to our web site</p>
	
	<form method="POST" th:action="@{/register}" th:object="${newPlayer}">
		<table>
			<tr>
				<td><label for="pseudo">pseudo:</label></td>
				<td><input type="text" id="pseudo" size=30 th:field="*{pseudo}"></input></td>
			</tr>
			<tr>
				<td><label for="firstname">first name:</label></td>
				<td><input type="text" id="firstname" size=30 th:field="*{firstname}"></input></td>
			</tr>
			<tr>
				<td><label for="lastname">last name:</label></td>
				<td><input type="text" id="lastname" size=30 th:field="*{lastname}"></input></td>
			</tr>
			
			
			<tr>
				<td><label for="email">email:</label></td>
				<td><input type="text" id="email" size=30 th:field="*{email}"></input></td>
			</tr>
			
			<tr>
				<td><label for="password">password:</label></td>
				<td><input type="password" id="password" size=30 th:field="*{password}"></input></td>
			</tr>
			
			<tr>
				<td><label for="birthdate">birth date:</label></td>
				<td><input type="text" id="birthdate" size=30 th:field="*{birthdate}"></input></td>
			</tr>
			<tr>
				<td><label for="country">country:</label></td>
				<td><input type="text" id="country" size=30 th:field="*{country}"></input></td>
			</tr>
			<tr>
				<td><label for="city">city:</label></td>
				<td><input type="text" id="city" size=30 th:field="*{city}"></input></td>
			</tr>
			
		</table><br>
		<input type="submit" value="go"></input>
	</form>
	<br>
	
	
	<div th:replace="footer :: index"></div>
	
</body>
</html>