<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='create game') "></div>
<body>
	<h1>Welcome on DCDL web application</h1>	
	
	<h1>create a new game</h1>

	<p>Please choose your options to create a new game:</p>
	
	<form class="createGameForm" method="POST" th:action="@{/create-game}" th:object="${newGame}">
		<table>
			<tr>
				<td>game type</td>
				<td>
					<label for="type">friendly</label><input type="radio" id="friendly" name="type"  value="friendly" th:field="*{type}" />
					<label for="type">ranked</label>  <input type="radio" id="ranked" name="type"  value="ranked" th:field="*{type}" />
				</td>
			</tr>
			<tr>
				<td>privacy</td>
				<td>
					<label for="privacy">public</label><input type="radio" id="public" name="privacy" value="public" th:field="*{privacy}"/>
					<label for="privacy">private</label><input type="radio" id="private" name="privacy" value="private" th:field="*{privacy}"/>
				</td>
			</tr>
						
			<tr>
				<td><label for="league">league:</label></td>
				<td><select th:field="*{league}" id=league >
						<option th:each="league : ${leagues}"
							th:value="${league.idLeague}" 
							th:text = "${league.league} + ' : ' + ${league.description}">
						</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label for="pseudo">description:</label></td>
				<td><input type="text" id="description" size=100 th:field="*{description}"></input></td>
			</tr>
			
		</table><br>
		<input type="submit" value="go"></input>
	</form>
	<br>
	
	
	<div th:replace="footer :: index"></div>
	<br><br>
		
	<div th:replace="footer :: index"></div>
	
</body>
</html>