<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='training count') "></div>
<body>
	<h1>Welcome on DCDL web application</h1>	
	
	<h2>training count</h2>
	
	choose the number of draws you want for your training, then click on start button !<br><br>
	
	<form class="TrainingCountForm" method="POST" th:action="@{/training/count(number=${drawnumber}) }">
		<table>
			<tr>
				<td><label for="drawnumber">number of draw(s) :</label></td>
				<td><input type="text" id="drawnumber" name="drawnumber" th:field="*{drawnumber}" size=2 /> </td>
			</tr>
		</table><br>
		<input type="submit" value="start"></input>
	</form>
	<br>
		
	<br><br>
	<div th:replace="footer :: index"></div>
	
</body>
</html>