<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='training') "></div>
<body>
	<h1>Welcome on DCDL web application</h1>	
	
	<p>Besoin d'entraînement avant d'affronter de vrais adversaires en partie officielle?<br>
	Vous êtes au bon endroit ! :)
	</p>
	
	<a href="/training/letters" th:href="@{/training/letters}" >entraînement aux lettres</a><br>
	<a href="/training/count" th:href="@{/training/count}" >entraînement aux chiffres</a>
	
	<br><br>
	<div th:replace="footer :: index"></div>
	
</body>
</html>