<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='DCDL main page') "></div>

<body>
	<h1>Welcome on DCDL web application</h1>
	
	<p>This web site is dedicated to the game <b>Des Chiffres et Des Lettres</b></p>

	<a href="/register" th:href="@{/register}" >register</a><br>
	<a href="/logon" th:href="@{/logon}" >log on</a><br>
	<a href="/admin" th:href="@{/admin}" >admin page</a><br>
	<a href="/dictionary-admin" th:href="@{/dictionary-admin}" >dictionary admin page</a><br>
	<a href="/games" th:href="@{/games}" >games</a><br>
	<a href="/training" th:href="@{/training}" >training</a><br>
	<a href="/clubs">clubs</a><br>
</body>
</html>