<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='dictionary admin page') "></div>

<body>
	<h1>Welcome on DCDL admin page</h1>

	<a href="/author" th:href="@{/author}">manage authors</a><br>
	<a href="/language" th:href="@{/language}">manage languages</a><br>
	<a href="/dictionary" th:href="@{/dictionary}">manage dictionaries</a><br>
	<a href="/wordtype" th:href="@{/wordtype}">manage word types</a><br>
	<a href="/word" th:href="@{/word}">manage words</a><br>
	<a href="/definition" th:href="@{/definition}">manage definitions</a><br><br>
	
	<div th:replace="footer :: index"></div>
	
</body>
</html>