<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='dictionary admin page') "></div>
<body>
	<h1>Welcome on client dictionary web application</h1>

	<h2>List of existing dictionaries</h2>

	<table >
	<tr><th>Id</th><th>Author</th><th>code Language</th><th>Text Language</th><th>Name</th><th>Description</th></tr>
	<tr th:each="dictionary : ${dictionaries}">
		<td th:text = "${dictionary.idDictionary}"></td>
		<td th:text = "${dictionary.author.pseudo}"></td>
		<td th:text = "${dictionary.language.codeLanguage}"></td>
		<td th:text = "${dictionary.language.textLanguage}"></td>
		<td th:text = "${dictionary.name}"></td>
		<td th:text = "${dictionary.description}"></td>
	</tr> 
	</table>
	
	<p>please fill the following form to add a new author</p>
	
	<form class="DictionaryForm" method="POST" th:action="@{/dictionary}" th:object="${newDictionary}">
		<table>
						
			<tr>
				<td><label for="author">author:</label></td>
				<td><select th:field="*{author}" id=author >
						<option th:each="author : ${authors}"
							th:value="${author.idAuthor}" 
							th:text = "${author.pseudo} + ' : ' +  ${author.firstname} + ' ' + ${author.lastname}">author1
						</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label for="language">language:</label></td>
				<td><select th:field="*{language}" id=language >
						<option th:each="language : ${languages}"
							th:value="${language.idLanguage}" 
							th:text = "${language.codeLanguage} + ' : ' + ${language.textLanguage}">language1
						</option>
					</select>
				</td>
			</tr>

			<tr>
				<td><label for="name">name:</label></td>
				<td><input type="text" id="name" size=30 th:field="*{name}"></input></td>
			</tr>
			<tr>
				<td><label for="description">description:</label></td>
				<td><input type="text" id="description" size=30 th:field="*{description}"></input></td>
			</tr>
						
		</table><br>
		<input type="submit" value="go"></input>
	</form>
	
	<br><br>
	
	<div th:replace="footer :: admin"></div>
	<div th:replace="footer :: index"></div>
</body>
</html>