<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style.css" />
	<title>client dictionary</title>
</head>
<body>
	<h1>Welcome on client dictonary web application</h1>
	
	<h2>enter a new word</h2>
	
	<p>please fill the following form !</p>
	
	<form method="POST" th:action="@{/sendWord}" th:object="${newWord}">
	<table>
		<tr>
			<td><label for="author">author:</label></td>
			<td><input type="text" id="author" size=30 th:field="*{author}"></input></td>
		</tr>
		<tr>
			<td><label for="word">word:</label></td>
			<td><input type="text" id="word" size=50 th:field="*{word}"></input></td>
		</tr>
		<tr>
			<td><label for="definition">definition:</label></td>
			<td><textarea id="definition" cols=50 rows=5 th:field="*{definition}"></textarea></td>
		</tr>
	</table><br>
	<input type="submit" value="go"></input>
	</form>
	<br>
	
	<a href="/index.html">go back to main page</a><br>
</body>
</html>
