<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="header :: head (title='manage words') "></div>
<body>
	<h1>manage words</h1>

	<a href="/findWord" >find a word in dictionary</a><br>
	<a href="/listWords">show list of words in dictionary</a><br>
	<a href="/countWords">count words in dictionary</a>
	
	<h2>List of existing words</h2>

	<table >
	<tr><th>Id</th><th>Author</th><th>Dictionary</th><th>word</th><th>Description</th><th>creation date</th></tr>
	<tr th:each="word : ${words}">
		<td th:text = "${word.id}"></td>
		<td th:text = "${word.author.pseudo}"></td>
		<td th:text = "${word.dictionary}"></td>
		<td th:text = "${word.name}"></td>
		<td th:text = "${word.description}"></td>
	</tr> 
	</table>
	
	<p>please fill the following form to add a new author</p>
	
	<form class="wordForm" method="POST" th:action="@{/word}" th:object="${newWord}">
		<table>
	
			<tr>
				<td><label for="author">author:</label></td>
				<td><select th:field="*{author}" id=author >
						<option th:each="author : ${authors}"
							th:value="${author}" 
							th:text = "${author.pseudo} + ' : ' +  ${author.firstname} + ' ' + ${author.lastname}">author1
						</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label for="dictionary">dictionary:</label></td>
				<td><select th:field="*{dictionary}" id=dictionary >
						<option th:each="dictionary : ${dictionaries}"
							th:value="${dictionary}" 
							th:text = "${dictionary.name} + ' : '  ${dictionary.description}">dictionary
						</option>
					</select>
				</td>
			</tr>
		
			<tr>
				<td><label for="word">word:</label></td>
				<td><input type="text" id="name" size=30 th:field="*{name}"></input></td>
			</tr>
						
		</table><br>
		<input type="submit" value="go"></input>
	</form>
	
	<br><br>
	<div th:replace="footer :: admin"></div>
	<div th:replace="footer :: index"></div>
</body>
</html>